<form action="/new_user" method="post">
  <fieldset>
    <legend>Welcome to Chris Koning's Tealeaf Blackjack Game!!!</legend>
    <label>Enter Your Name:</label>
    <input type="text" placeholder="Please enter your name…" name="new_user" autofocus>
    <br>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>